# Ignore PyCharm's settings folder
.idea/

# Ignore Python bytecode cache
__pycache__/

# Ignore virtual environments
venv/
.env/

# Ignore log files
*.log

# Ignore system-specific files
.DS_Store  # macOS
Thumbs.db  # Windows

